@layer base, component;

/*
* global.css
*
* Global styles for the entire application
 */

/* Tailwind CSS */
@import "tailwindcss";

/* local styles - update the below if you add a new style */
@import "./theme.css";
@import "./theme.utilities.css";
@import "./shadcn-ui.css";
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
/*
---break---
 */
@custom-variant dark (&:is(.dark *));
/* plugins - update the below if you add a new plugin */

/* variants - update the below if you add a new variant */
@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  * {
    @apply border-border outline-ring/50;
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }

  input::placeholder,
  textarea::placeholder {
    color: theme(--color-muted-foreground);
  }
}

@layer component {

}

/*
---break---
 */

:root {
  --destructive-foreground:
      var(--color-red-800);
  --success:
      var(--color-emerald-500);
  --success-foreground:
      var(--color-emerald-900);
  --info:
      var(--color-violet-500);
  --info-foreground:
      var(--color-violet-900);
  --warning:
      var(--color-yellow-500);
  --warning-foreground:
      var(--color-yellow-900);
  --invert:
      var(--color-zinc-900);
  --invert-foreground:
      var(--color-zinc-50);
}

/*
---break---
 */

.dark {
  --destructive-foreground:
      var(--color-red-600);
  --success:
      var(--color-emerald-500);
  --success-foreground:
      var(--color-emerald-600);
  --info:
      var(--color-violet-500);
  --info-foreground:
      var(--color-violet-600);
  --warning:
      var(--color-yellow-500);
  --warning-foreground:
      var(--color-yellow-600);
  --invert:
      var(--color-zinc-700);
  --invert-foreground:
      var(--color-zinc-50);
}

/*
---break---
 */

@theme inline {
  --color-destructive-foreground:
      var(--destructive-foreground);
  --color-success:
      var(--success);
  --color-success-foreground:
      var(--success-foreground);
  --color-info:
      var(--info);
  --color-info-foreground:
      var(--info-foreground);
  --color-warning:
      var(--warning);
  --color-warning-foreground:
      var(--warning-foreground);
  --color-invert:
      var(--invert);
  --color-invert-foreground:
      var(--invert-foreground);
}
