@layer base, component;

@import "tailwindcss";
@import "./theme.css";
@import "./animations.css";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@layer base {
  * {
    @apply border-border outline-ring/50;
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }

  *,
  ::before,
  ::after,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--muted-foreground);
  }
}

@utility container {
  margin-inline: auto;
  @apply px-8 xl:max-w-[80rem];
}
